div
{
	color: yellow;
	font-size: 300%;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 20%;
}
body
{
	background-image: url("image/paysage.jpg");
	background-size: cover;
}
.ref
{
	color : white;
	display: flex;
	justify-content: flex-end;
}
#Search
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin : 1em;
	
}
a
{
	background-color : white ;
	font-size : 15pt;
	font-weight: bolder;
	color : black;
	margin: 0.2em;
	border-style: solid;
	border-width: 0.2em;
	border-color: gray;
	border-radius: 2em;
	padding: 0.5em;
}
.position
{
	color : blue;
}